@inherits LayoutComponentBase
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
               
            </div>
        </Authorized>
        </AuthorizeView>

       <div class="main" >
         <div class="top-row px-4" style="background-color: #04163d">
             <LoginDisplay />

         </div>

          <div class="content px-4">
                    @Body
          </div>
         </div>
