@page "/"

    <AuthorizeView>
        <Authorized>
            <div style="margin-top: 17%; margin-left: 20%;">
                <h1>Welcome to FCMB Support App</h1>
                    What do you want to do
            </div>
     
        </Authorized>
        <NotAuthorized>
            <div class="row">
                <div class="col-md-4">
                  
                </div>
                <div class="col-md-6" style="margin-top: 17%;">
                    <h1>FCMB Support App</h1>
                </div>
            </div>

        </NotAuthorized>
    </AuthorizeView>
          
